<!DOCTYPE html>
<html>
<head>
	<title>Registro de Notas</title>
</head>
<body>
<form method="post" action="guardarNotas">
	<table>
		<tr>
			<th>
				Estudiante 
			</th>
			<th>
				Nota
			</th>
		</tr>
		<tr>
			<td><input type="text" name='estudiante[nombre]' value="<%= estudiante.nombre %>"></td>
			<td><input type="text" name='estudiante[nota]' value="<%= estudiante.nota %>"</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name='enviar' value='Registrar Nota'></td>
		</tr>
	</table>
</form>
</body>
</html>
